<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" routerLink="/">Inicio</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li>

      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/directivas">Directivas</a>
      </li>

    </ul>

  </div>

</nav>