<footer class="bg-dark rounder-top text-center footer">
  <div class="container py-2">
    <p class="text-white my-2">
      &copy; Micha3lVega {{today | date:'yyyy' }}
      Mira el codigo en <a href="https://github.com/micha3lvega/clientes-app">GitHub</a>
    </p>
  </div>
</footer>