<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">
    {{ cliente.id ? cliente.nombre : title }}
  </div>
  <div class="card-body">
    <form (ngSubmit)="save()" #clientForm="ngForm">

      <div class="form-group-row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" name="nombre" [(ngModel)]="cliente.nombre" class="form-control" #name="ngModel">
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">
              El nombre es requerido
            </div>
            <div *ngIf="name.errors.minlength">
              El Nombre es muy corto
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" name="apellido" [(ngModel)]="cliente.apellido" class="form-control" #lastName="ngModel">
          <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div *ngIf="lastName.errors.required">
              El apellido es requerido
            </div>
            <div *ngIf="lastName.errors.minlength">
              El apellido es muy corto
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" id="email" name="email" [(ngModel)]="cliente.email" class="form-control" #email="ngModel">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              El correo es requerido
            </div>
            <div *ngIf="email.errors.email">
              El correo es invalido
            </div>
          </div>
        </div>
      </div>

      <br />
      <div class="form-group-row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" name="save" *ngIf="!cliente.id else elseBlock" [disabled]="!clientForm.form.valid">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" name="save" [disabled]="!clientForm.form.valid">Actualizar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>