<div class="card border-black mb-3">
  <div class="card-header">Listado de clientes</div>
  <div class="card-body text-black">
    <div class="my-2 text-left">
      <button type="button" name="button" class="btn btn-rounded btn-primary" [routerLink]="['/cliente']">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info">
      No hay registros en la base de datos.
    </div>

    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido | uppercase}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
          <td><button role="button" [routerLink]="['/cliente', cliente.id]" class="btn btn-primary">Editar</button></td>
          <td><button role="button" (click)='delete(cliente)' class="btn btn-danger">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>